@import 'dmt-gui-kit/colors.css';

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  /* had to change from /fonts to fonts because it's a static site being served from uniqpath.com/euler */
  src: url('fonts/kanit/Kanit-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/kanit/Kanit-ExtraLight.ttf') format('truetype');
}
/* kanit-500italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/kanit/Kanit-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/kanit/Kanit-Regular.ttf') format('truetype');
}

body {
  font-family: Kanit;
  font-family: Avenir;
  background-color: #1b2b3a;
}

h1 {
  color: var(--dmt-cyan);
}
